body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(img/wp15460271-y2k-futurism-wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: entrar 0.6s ease;
}
.info{
  font-family: "Roboto Mono", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
}
h1 {
background-image: url(Img/Bluebg.png);
  background-size: contain;
  background-repeat: repeat-y;
}
